/* .dashboard {
  background-color: #f5e0b7;
} */

.button {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
}

.btn-head {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
}
