/* .dashboard {
  background-color: #f5e0b7;
} */

.button {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
}

.btn-header {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
  font-size: 1vw;
  width: 100%;
}

@media (max-width: 1024px) {
  .btn-header {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .btn-header {
    width: 80%;
  }
}
