/* .dashboard {
  background-color: #f5e0b7;
} */

.button {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
}

.btn-header {
  background-color: #ff6b6b;
  border: none;
  color: #5a4636;
  border-radius: 20px;
  font-size: 1vw;
  width: 100%;
}

.button:hover {
  background-color: #daa03d;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.button:active {
  transform: translateY(0px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .btn-header {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .btn-header {
    width: 80%;
  }
}
