.table-card {
  background-color: #a8b68f;
  border-radius: 20px;
}

.button-table {
  width: 50%;
}

.button-newtable {
  width: 50%;
}

@media (max-width: 425px) {
  .container-table {
    height: 200vw;
  }
}
